*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.815);
    text-align: center;
}

h1{
    color: red;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
    border: 2px solid blue;
    border-radius: 15px;
    box-shadow: 0 0 1rem red;
    font-size: 8vh;
    color: yellowgreen;
}

#reset-btn{
    background-color: white;
    color: black;
    padding: 2px;
    border: 2px solid red;
    border-radius: 13px;
    font-size: 2vh;
}

#new-btn{
    background-color: white;
    color: black;
    padding: 2px;
    border: 2px solid red;
    border-radius: 13px;
    font-size: 3vh;
}

#msg{
    color: aqua;
    font-size: 8vh;
}

.msg-container{
    height: 30vh;
}

.hide{
    display: none;
}